<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net45" />
  <package id="Bytescout.PDF2HTML" version="10.1.0.3444" targetFramework="net45" />
  <package id="freeitextsharp.dll" version="1.0.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net45" />
  <package id="itextsharp.pdfa" version="5.5.13" targetFramework="net45" />
  <package id="itextsharp.xmlworker" version="5.5.13" targetFramework="net45" />
  <package id="PdfBuilder" version="1.0.2-alpha" targetFramework="net45" />
  <package id="WolfeReiter.iTextSharp.BC" version="4.1.6.0" targetFramework="net45" />
</packages>