<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
  </runtime>
  <appSettings>
    <add key="DBType" value="Sql" />
    <add key="PaymentSystem_URL" value="https://mms.unionbankofindia.co.in/AdMandateSystem/Login.aspx"/>
    <!--<add key="PaymentSystem_URL" value="http://192.168.100.28/PaymentSystem/Login.aspx"/>-->
    <!--<add key="H2H_SourcePath" value="D:\\H2H\\DataSource\\BankCode\\Verified\\"/>-->
    <!--<add key="H2H_DestPath" value="D:\\H2H\\DataSource\\BankCode\\INW_Backup\\"/>-->
    <!--<add key="H2H_NPCI_RTNFile" value="D:\\H2H\\DataSource\\Upload\\Source\\"/>-->
    <!--<add key="H2H_NPCI_INP_ACKFile" value="D:\\H2H\\DataSource\\Inbox\\Archive\\"/>-->
    <add key="Domain" value="UBIH2HAPP"/>
    <add key="UserID" value="unionadmin"/>
	<add key="API_URL" value="https://powwebsrvlb.ubi.com/FISERVLET/fihttp"/> 
	<!--<add key="API_URL" value="https://banwebsrvlb.ubi.com/FISERVLET/fihttp"/>  -->
<!--    <add key="Pass" value="Ubi@123"/> -->
<add key="Pass" value="IHV@bOr0"/>
    <add key="H2H_SourcePath1" value="\\10.0.229.27\H2H_DataSource\BankCode\Source\"/>
    <add key="H2H_SourcePath" value="\\10.0.229.27\H2H_DataSource\BankCode\Verified\"/>    
    <add key="H2H_DestPath" value="\\10.0.229.27\H2H_DataSource\Inbox\Archive\"/>
     <!--<add key="H2H_NPCI_RTNFile" value="\\10.0.229.27\H2H_DataSource\Inbox\Archive\"/>-->
    <add key="H2H_NPCI_RTNFile" value="\\10.0.229.27\H2H_DataSource\Upload\Source\"/>
    <add key="H2H_NPCI_INP_ACKFile" value="\\10.0.229.27\H2H_DataSource\Inbox\verify1\"/>
	<add key="Dest_SMSFile" value="\\10.0.229.27\H2H_DataSource\Inbox\Sms\"/>
   <add key="H2HUpload" value="E:\Adroit Applications\TempTableForNPCI\"/> 
	<add key ="APiSignTimout" value ="2"/>  <!--Add on 20022021for api signature-->

    <!--<add key="DBType" value="Oracle"/>-->
    <!--<add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\Windows\Temp\;" />-->
    <add key="ChartImageHandler" value="storage=file;timeout=30;dir=E:\Adroit Applications\NACH\MMS\Chart\;" />
     
    <add key="aspnet:MaxHttpCollectionKeys" value="1500" /> 
 <!--  value="1500"-->
    <!--<add key="aspnet:MaxJsonDeserializerMembers" value="1000" />-->
    	<add key="Dest_SMSFile" value="\\10.0.229.27\H2H_DataSource\Inbox\Sms\"/>
     	<add key="SmsPrefix" value="1234|214836927|m_Mobile|1234|"/>
        <add key="SmsDataAccptText" value="Dear Customer,MandateRef.No:m_UMRN issued to m_UtilityName with	value Rs.m_Amount and frequency m_frequency was Accepted.In case of clarifications,please call on toll free numbers 1800222244 or 1800208224|T"/>
        <add key="SmsDataRejText" value="Dear Customer,MandateRef.No:m_UMRN issued to m_UtilityName with value Rs.m_Amount and frequency m_frequency was Rejected due to m_Reason.In case of clarifications,please call on toll free numbers 1800222244 or 1800208224|T"/> 
  </appSettings>
  <connectionStrings>
    
<!--<add name="NACHUAT_BKP" connectionString="Data Source=10.0.230.107:1531/MMS;User ID=UBIMMS;Password=ubimms;" providerName="System.Data.OracleClient"/>-->
<!--<add name="NACHUAT_BKP" connectionString="Data Source=10.0.232.206:1551/MMSDB;User ID=ubimms;Password=ubimms;" providerName="System.Data.OracleClient"/>-->
<!--<add name="NACHUAT_BKP" connectionString="Data Source=10.0.232.206:1551/MMSDB/MMSDB;User ID=mms;Password=MMsys#0987#;" providerName="System.Data.OracleClient"/>-->
<add name="NACHUAT_BKP" connectionString="Data Source=10.0.232.206:1551/MMSDB/MMSDB;User ID=mms;Password=MMsys#0987#;" providerName="System.Data.OracleClient"/>
<!--Max Pool Size=1000 -->
    
  </connectionStrings>
  <location path="Images">
    <system.web>
      <globalization culture="en-AU" uiCulture="en-AU" />
      <!--<httpRuntime executionTimeout="99999" maxRequestLength="2147483647" />-->
      <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Errors.aspx" />
      <authorization>
        <allow users="*" />
        <deny verbs="OPTIONS" users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
   <!-- <compilation batch="false" targetFramework="4.0">-->
 <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=2.112.1.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />         
        <!--<add assembly="Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" name=".AspxFormAuth_Portal" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!--<sessionState mode="InProc" timeout="10" />-->
    <globalization culture="en-IN" uiCulture="en-IN" />
    <machineKey validation="3DES" />
    <httpRuntime maxRequestLength="20000000" executionTimeout="2000" requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2200000000" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=8" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FIUsbWebServiceSoapBinding" maxBufferSize="524288" maxReceivedMessageSize="524288" >
          <security mode="Transport" />
        </binding>
        <binding name="FIUsbWebServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
   <!-- <endpoint address="https://powwebsrvlb.ubi.com/fiwebservice/FIWebService"
	binding="basicHttpBinding" bindingConfiguration="FIUsbWebServiceSoapBinding"
        contract="UnionBank.FIUsbWebService" name="FIUsbWebService" /> --> 


     <endpoint address="https://banwebsrvlb.ubi.com/fiwebservice/FIWebService"
        binding="basicHttpBinding" bindingConfiguration="FIUsbWebServiceSoapBinding"
        contract="UnionBank.FIUsbWebService" name="FIUsbWebService" />  


    </client>
  </system.serviceModel>
</configuration>